$font-family-base: "Sans Serif", serif;
$font-myriad: 'Myriad Pro', sans-serif;
$font-myriad-cond: 'Myriad Pro Cond', sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;

//COLORS
$black: #000;
$dark-2: #141414;
$dark-3: #222222;
$dark: #383838;
$gold: #b99c64;
$grey-bg: #efefef;
$grey: #cecece;
$grey-400: #808080;
$grey-100: #ddd;
$white: #fff;